.form-order {
  h3 {
    margin: 0 0 29px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-alice-blue;

    @include vp-767 {
      line-height: 25px;
    }
  }

  @include vp-767 {
    text-align: center;
  }
}

.form-order__body {
  display: flex;
  flex-direction: column;
  margin: 0 0 34px 0;

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.form-order__row {
  display: flex;
  align-items: center;

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
    max-width: 100%;
    padding: 13px 16px;
    font-size: 14px;
    color: $color-tangaroa;
    background-color: $color-alice-blue;
    border: none;

    &::placeholder {
      font-weight: 400;
      color: $color-tangaroa;
      opacity: 0.7;
    }

    &:hover,
    &:focus {
      background-color: $color-default-white;

      &::placeholder {
        opacity: 1;
      }
    }
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  span {
    font-size: 10px;
    line-height: 13px;
    color: $color-alice-blue;
  }

  @include vp-767 {
    text-align: left;
    line-height: 12px;
  }

  &--data {
    position: relative;
    padding-left: 23px;
    cursor: pointer;

    &:hover input ~ .form-order__checkmark {
      background-color: #cccccc;
    }

    input:checked ~ .form-order__checkmark::after {
      display: block;
    }

    input[type="checkbox"]:focus + .form-order__checkmark {
      outline: 2px solid #ffa500ff;
    }

    @include vp-374 {
      padding-left: 28px;
    }
  }

  &:not(:last-child) {
    margin: 0 0 21px 0;
  }
}

.form-order__checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: $color-alice-blue;
  transform: translate(0, -50%);

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid $color-tangaroa;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  @include vp-374 {
    top: 0;
    width: 20px;
    height: 20px;
    transform: unset;
  }
}

.form-order__btn {
  width: 100%;
  padding: 11px 20px;
}
