.header {
  padding: 35px 0;
  background: #00336e url("../img/promo-desktop@1x.jpg") no-repeat center / cover;
  color: $color-alice-blue;

  @include vp-1023 {
    padding: 27px 0;

    @include retina {
      background-image: url("../img/promo-desktop@2x.jpg");
    }
  }

  @include vp-767 {
    padding: 30px 0;
    background-image: url("../img/promo-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/promo-tablet@2x.jpg");
    }
  }

  @include vp-374 {
    padding: 20px 0;
    background-image: url("../img/promo-mobile@1x.webp");

    @include retina {
      background-image: url("../img/promo-mobile@2x.webp");
    }
  }

  p {
    margin: 0;
    font-size: 20px;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
    }

    @include vp-767 {
      padding-right: 80px;
      font-size: 16px;
    }
  }
}

.header__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;

  @include vp-767 {
    &::before {
      position: fixed;
      right: -100%;
      top: -30px;
      content: "";
      width: 100%;
      height: 110px;
      z-index: 4000;
      background-color: $color-alice-blue;
      transition: right .3s ease 0s;
    }

    .scroll-lock &::before {
      right: -35px;
      left: unset;
      z-index: 4000;
      cursor: none;
      pointer-events: none;
    }
  }
}

.header__logo {
  display: flex;
  flex: 0 0 auto;
  margin: 0;

  .scroll-lock & {
    position: relative;
    z-index: 4000;

    @include vp-767 {
      margin-left: 50px;
    }

    @include vp-374 {
      margin-left: 35px;
    }
  }

  @include vp-1023 {
    margin: 3px 0 0 4px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.header__menu {
  @include vp-767 {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 75px 15px;
    overflow: auto;
    background-color: $color-alice-blue;
    z-index: 2000;
    transition: right 0.3s ease 0s;

    .menu__list {
      flex: 1 1 auto;
      flex-direction: column;
      row-gap: 8px;
      margin: unset;
    }

    .menu__item {
      display: inline-flex;
    }

    .menu__link {
      flex: 1 1 auto;
      padding: 10px;
      font-size: 18px;
      line-height: 22px;
      color: $color-tangaroa;
    }
  }
}

.header__bottom {
  padding: 196px 0 244px 95px;

  @include vp-1023 {
    padding: 216px 0 250px 5px;
  }

  @include vp-767 {
    padding: 133px 0 160px 0;
  }
}

.header__title {
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    margin-bottom: 11px;
    font-size: 36px;
    line-height: 45px;
  }
}

.header__menu-open {
  display: none;

  @include vp-767 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 0 0 24px;
    height: 14px;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    border: none;
    background-color: transparent;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 50%;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: $color-default-white;
      transform: translate(-50%, 0);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - 1px);
    }

    .scroll-lock & {
      display: none;
      background-color: transparent;
      flex: 0 0 14px;

      span {
        transform: scale(0);
      }

      &::before,
      &::after {
        width: 18px;
        background-color: $color-tangaroa;
        opacity: 1;
      }

      &::before {
        transform: translate(-50%, 0) rotate(-45deg);
        top: calc(50% - 1px);
      }

      &::after {
        transform: translate(-50%, 0) rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}

.header__menu-close {
  display: none;

  .scroll-lock & {
    @include vp-767 {
      display: block;
      z-index: 4000;
      padding: 5px;
      border: none;
      background-color: $color-transparent;
      cursor: pointer;
    }
  }
}
