.header {
  padding: 35px 0;
  background: #00336e url("../img/promo-desktop@1x.jpg") no-repeat center / cover;
  color: $color-alice-blue;

  @include vp-1919 {
    @include retina {
      background-image: url("../img/promo-desktop@2x.jpg");
    }
  }

  @include vp-767 {
    padding: 30px 0;
    background-image: url("../img/promo-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/promo-tablet@2x.jpg");
    }
  }

  @include vp-374 {
    padding: 20px 0;
    background-image: url("../img/promo-mobile@1x.jpg");

    @include retina {
      background-image: url("../img/promo-mobile@2x.jpg");
    }
  }

  p {
    margin: 0;
    font-size: 20px;

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
    }

    @include vp-374 {
      padding-right: 80px;
      font-size: 16px;
    }
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.header__logo {
  flex: 0 0 auto;

  .menu-open & {
    @include vp-767 {
      margin-left: 30px;
    }

    @include vp-374 {
      margin-left: 25px;
    }
  }
}

.header__menu {
  @include vp-767 {
    position: fixed;
    top: 0;
    right: -100%;
    width: 95%;
    height: 100%;
    padding: 75px 15px;
    overflow: auto;
    background-color: $color-whisper;
    z-index: 10;
    transition: right 0.3s ease 0s;

    .menu-open & {
      right: 0;
    }

    .menu__list {
      flex: 1 1 auto;
      flex-direction: column;
      row-gap: 10px;
      margin: unset;
    }

    .menu__item {
      display: inline-flex;
    }

    .menu__link {
      flex: 1 1 auto;
      padding: 10px;
      font-size: 18px;
      line-height: 22px;
      color: $color-tangaroa;
    }
  }
}

.header__bottom {
  padding: 210px 0 250px 95px;

  @media (min-width: 1160px) {
    padding-left: 95px;
  }

  @include vp-767 {
    padding: 230px 0 250px 0;
  }

  @include vp-374 {
    padding: 143px 0 165px 0;
  }
}

.header__title {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;

  @include vp-767 {
    margin-bottom: 25px;
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-374 {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 45px;
  }
}
